<?xml version= "1.0" encoding= "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Smoke">

    <test name="SmokeTest">
        <classes>
            <class name="qaclickacademy.AppiumTest" />
            <class name="qaclickacademy.SeleniumTest"/>
            <class name="qaclickacademy.JenkinsTest"/>
        </classes>
    </test>

</suite>